<div>
  <h3>{{name}}</h3>
  {{#if maxSpeed}}
  <p>Max speed: {{maxSpeed}}</p>
  {{/if}}
  {{#if maxSpeed}}
  <p>Propellers: {{propellers}}</p>
  {{/if}}
  <a href="/drones/{{_id}}">See drone details</a>
</div>